body {
  background-color: burlywood;
  background-size: cover;
  font-size: 18px;
  font-family: "arial", "Hiragino Sans", "Meiryo", sans-serif;
  color: #333;
}
* {
  box-sizing: border-box;
  /* border-style: solid; */
}
h1 {
  text-align: center;
}
header {
  display: block;
  width: 1240px;
  margin: 0 auto 44px;
  text-align: center;
}

header nav ul {
  display: flex;
  justify-self: center;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 12px 0 10px;
}
header nav ul li {
  margin: 0 20px;
}
div {
  width: 1240px;
  margin: 0 auto 50px;
  display: flex;

  justify-content: space-between;
}
main > article {
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;
  border: 2px solid #8c820e;

  border-radius: 20px;
}
section {
  border-top: 1x solid #333;
  border-bottom: 1px solid #333;
  unicode-bidi: isolate;
}

aside nav {
  padding: 0 10%;
  border: 2px solid #8c820e;
  margin-left: 20px;
  margin-bottom: 50px;
  border-radius: 20px;
}
aside p {
  margin-left: 20px;
}
aside nav ul {
  border-radius: 16px;

  box-shadow: 0px 0px 8px rgba(112, 132, 3, 0.16);
  padding: 24px 28px;
  margin-bottom: 24px;
}
